body{
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(48, 23, 24);
    height: 100vh;
    width: 100vw;
    
}
.sub {
  /* background-color: rgb(48, 25, 25); */
  height: 90vh;
  width: 60vw;
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);  */
}

.title{
    color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 110px;
    font-size: 46px;
    font-weight: 600;
    

}
.desc{
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}
.inputs{
    margin-top: 28px;
}
.inputs input {
    color: #f5f5f5;
    background-color: #452627;
    border: 1px solid #444;
    border-radius: 6px;
    outline: none;
    width: 60%;
    height: 36px;
    margin: 16px auto;
    padding: 8px 12px;
    font-size: 20px;
    transition: all .2s ease-in-out;
    display: block;
}

.inputs input:focus {
  border-color: #a855f7; /* purple highlight */
  box-shadow: 0 0 6px rgba(168, 85, 247, 0.6);
  background-color: rgb(60, 32, 34);
}
.signup button{
  color: #fff;
    cursor: pointer;
    box-sizing: border-box;
    background: linear-gradient(135deg, #fc1717, #d60000);
    border: none;
    border-radius: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    min-width: 301px;
    height: 59px;
    margin-left: 172px;
    padding: 0 20px;
    font-size: 28px;
    font-weight: 500;
    transition: all .25s ease-in-out;
    
;
}
.signup button:hover {
  background: linear-gradient(135deg, #ff3333, #b80000);
  transform: scale(1.08);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.35);
}

.signup button:active {
  transform: scale(0.96);
}
.last{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  color: rgb(195, 201, 207);
  font-size: 24px;
}
.login a {
  color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
  text-decoration: none; /* optional: remove underline */
}
